/* Colors */
@define-color yellow    #fee801;
@define-color violet    #091833;

* {
    border: none;
    border-radius: 0px;
    font-size: 10.5pt;
    font-family: "Press Start 2P", sans-serif;
    min-height: 0;
}

window#waybar {
    background: rgba(254,232,1,1);
}

/* Modules Group Styles */
.modules-left, .modules-center, .modules-right {
    background-color: rgba(9,24,51, 1);
}

/* Workspace Styles */
#workspaces button {
    padding: 5px 10px;
    background-color: transparent;
    color: #ffcc00; /* Bright yellow */
    border-radius: 5px;
}

#workspaces button > span {
    font-size: 18px;  /* Adjust this value to set the icon size */
}

#workspaces button.focused {
    background-color: #9400d3;
    color: #54c1e6;
}
#workspaces button:hover {
    background-color: #ffcc00; /* Bright yellow */
    color: #00060e;
}

#custom-japanese-label {
    color: #ff0000; /* Rouge */
    font-family: 'Times New Roman Condensed Bold';
    font-size: 16px;
    background: #fee801;
    padding-left: 300px;
}

/* Clock Style */
#clock {
    color: #ffcc00; /* Original bright yellow color */
    padding: 5px 10px;
}


/* Custom Modules Styles */
#custom-ip,
#custom-arp,
#pulseaudio,
#network,
#custom-power {
    padding: 0 10px;
    color: #ffffff;
}

/* Custom Power Button */
#custom-power {}
#custom-power:hover {
    background-color: #cc0000; /* Darker red */
    color: #ffffff;
}

/* Colors */
#pulseaudio.muted {
    color: #e60000; /* Bright red */
}
#network {
    color: #ffcc00; /* Bright yellow */
}
#custom-ip,
#custom-arp {
    color: #9400d3; /* Dark violet */
}
#custom-ip:hover,
#custom-arp:hover {
    color: #ffcc00; /* Bright yellow */
}

#group-applets {}

#custom-arrow {
    font-size: 30px;
    color: #091833;
    background: #fee801;
}

#custom-arrow_left {
    font-size: 30px;
    color: #091833;
    background: #fee801;
}

#custom-separator_midle_left {
    font-size: 30px;
    color: #091833;
    background: #fee801;
}

#custom-separator_midle_rigth {
    font-size: 30px;
    color: #091833;
    background: #fee801;
}

#custom-separator_chart_line {
    font-size: 30px;
    color: #ff0000;
}
